{% extends 'public_layout.html' %}

{% block body %}

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="clearfix content-heading">
                <img src="/static/gulls/55e84aef64945e2b4e5dfd937794ad7c.jpg" alt='pleeping gull' class="float-left mr-4 rounded" style="width:35%">
                <h3>What the Pleep?</h3>
                <p>
                    Pleep is the first competitive social media app.
                    Let's not kid ourselves, our desire to gain recognition online isn't exactly 
                    thinly veiled, and Pleep aims to abuse that fact as much as possible.
                    <br/>
                    While some <i>other</i> social media apps might try convincing you their 
                    user's posted content is akin to beautiful bird-song, we acknowledge it
                    for what it really is: obnoxious, self-absorbed, and generally offensive to the ears.
                </p>
                <blockquote class="blockquote border rounded bg-light">
                        <h5>pleep /pli:p/ (noun)</h5>
                        <p class=lead>
                                A shrill piping cry, especially that of a wading bird; the weak peeping cry of a young bird.
                        </p>
                </blockquote>
                <p>
                    Pleep is all about embracing web-readiness, we grow one-to-one client focused action-item architectures 
                    in a disintermediate "clicks-and-mortar" approach to the B2C market. 
                    <br/>
                    Our system is simple:
                    <ol>
                        <i>
                            <li>Incubate viral eyeball-rich traction</li>
                            <li>Engage users with extensible straight-to-market systems</li>
                            <li>Iteratively benchmark leading-edge distributed synergies across the platform</li>
                            <li>A/B testing over user-generated markets</li>
                            <li>Feed back into designing critical paths for effective plug-and-play workflow</li>
                        </i>
                    </ol>
                    Our work philosophy is <i>"skating to where the puck is <b>going</b> to be"</i>.
                    We're constantly morphing, pivoting, and disrupting market paradigms...
                    <p class="text-right m-0">
                        ... as-a-service.
                    </p>
                </p>
                
                <blockquote class="blockquote border rounded bg-light p-3">
                    <p class="mb-0 text-center">I have this theory that you're such a bad combination of mean spirited and dumb
                        that anything you do is stupid, especially these apps ok?
                        <br/>
                        Quit while you're behind.
                    </p>
                    <footer class="blockquote-footer"> <cite title="Source Title">angel round investor</cite></footer>
                    </blockquote>
                <img src="/static/gulls/download.jpg" alt='pleeping gull' class="float-right ml-2 rounded" style="width:35%">
                <p>
                    <h3>Here's how Pleep works:</h3> 
                    <ul>
                        <li>Users post responses to threads auto-generated by Pleep or created by other users.</li>
                        <li>Each thread has a timeout period after creation until it locks. </li>
                        <li>At that time the three highest rated posts will recieve Pleep clout on their accounts. </li>
                        <li>After the thread locks it will remain visible for another short period to show off your success.</li>
                        <li>Then the thread and all the posts made on it are permenantly deleted.</li>
                    </ul>
                    The strategy for success is up to you. 
                    Esoteric references? 
                    Low effort memes? 
                    Niche talents? 
                    Political instigation?
                    High quality content?
                    Boobs?
                </p>
                <img src="/static/pleep_design.png" alt='pleep design' class="w-100 my-2 rounded">
                <h4 class="text-center">
                    We're excited to see where this adventure takes us, its untamed wilderness and we're giving no promises.
                </h4>
                <a href="/register">
                    <button type="button" class="btn btn-warning btn-lg btn-block py-3 my-4">
                        <h3>Start Pleeping right now!</h3>
                    </button>
                </a>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}